{% extends "base.html"%}
{% block content %}
    <form  class="form"action="" method="POST" role="form" enctype="multipart/form-data">
					<legend>EducationNet Register</legend>
					{% csrf_token %}
					<div class="form-group">
						<input name="username" type="text" class="form-control" id="" placeholder="username">
					</div>

					<div class="form-group">
						<input name="email" type="text" class="form-control" id="" placeholder="email">
					</div>

					<div class="form-group">
						<input name="password" type="password" class="form-control" id="" placeholder="password">
					</div>

					<div class="form-group">
						<input name="confirm_password" type="password" class="form-control" id="" placeholder="confirm password">
					</div>


					<button type="submit" class="">Submit</button>
    </form>

{% endblock %}